<div class="csAssetRelatedAssetGroupItem">
    <h6 ng-if="item.value.isSubgroup" class="csAssetRelatedAssetGroupItem__title cs-p-h-w cs-p-v-s">{{item.value.title}}</h6>
    <h5 ng-if="!item.value.isSubgroup" class="csAssetRelatedAssetGroupItem__title collapsible">
        <div ng-click="context.groupSelection.setValue(item.value.key)"
              class="csAssetProperties__list__label grouprelation"
              title="{{item.value.title}}">
            <i class="cs-icon-arrow-right arrowIconMulti" ng-if="!item.value.showList"></i>
            <i class="cs-icon-arrow-down arrowIconMulti" ng-if="item.value.showList"></i>
            <i class="title-text"> {{item.value.title}} </i>
            <i class="count">{{item.value.max}}</i>
        </div>
        <div class="list-item-action-buttons">
            <i class="cs-icon cs-icon-circle-plus addButton"
               cs-translate="{title: 'csMultiRelatedAssetWidget.addRelations'}"
               ng-click="context.buttonActions.setValue({action: 'add', groupKey: item.value.key})">
            </i>
            <i class="cs-icon cs-icon-open addButton"
               ng-click="context.buttonActions.setValue({action: 'open', groupKey: item.value.key})"
               cs-translate="{title: 'csCommonTranslations.open'}">
            </i>
            <!-- <i class="cs-icon cs-icon-erase addButton cs-action-button cs-is-open"
               ng-click="context.buttonActions.setValue({action: 'delete', groupKey: item.value.key})"
               cs-translate="{title: 'csMultiRelatedAssetWidget.removeRelationAll'}">
            </i> -->
        </div>
    </h5>
</div>