<cs-empty-state ng-if="!config.transformationKey" cs-empty-state-icon="'cs-icon-embed-close'">
	<span class="cs-state-headline" ng-bind="'ioiPieChartWidget.missingConfig' | csTranslate"></span>
	<button class="cs-button-link-01" ng-disabled="readOnly" ng-click="widgetConfiguration()">
		<i class="cs-icon cs-icon-circle-plus cs-iconsize-200"></i>&nbsp;
		<span ng-bind="'ioiPieChartWidget.missingConfigBtn' | csTranslate"></span>
	</button>
</cs-empty-state>

<div ng-if="config.transformationKey" class="cs-add-widget-padding-frame cs-widget-content-padding-top">
	<cs-empty-state ng-if="!dataChecked" cs-empty-state-icon="'cs-icon-charts'">
		<span class="cs-state-headline" ng-bind=":: 'ioiPieChartWidget.invalidData' | csTranslate"></span>
	</cs-empty-state>

	<div ng-if="isGetValues" ng-bind=":: 'ioiPieChartWidget.synchronisation' | csTranslate"></div>

	<div ng-if="chart.subTitle" class="cs-color-03">{{chart.subTitle}}</div>

	<ioi-pie-chart ng-if="dataChecked"
		cs-width="{{ contentWidth }}"
		cs-height="{{ contentHeight }}"
		type="{{ chart.type }}"
		legend="{{ legend }}"
		slice-label="{{ chart.sliceLabel }}"
		slice-tooltip="{{ chart.sliceToolTip }}"
		labelType="{{ chart.labelType }}"
		showToolTipPercent="{{ chart.showToolTipPercent }}"
		valueFormat="{{ chart.valueFormat }}"
		noData="{{ chart.noData }}"
		ng-model="chart.data">
	</ioi-pie-chart>

</div>