<cs-dialog-group title="ioiPieChartWidget.configGroupTitle" ng-if="config">
    <ul>
        <cs-config-dialog-row row-label="ioiPieChartWidget.configTransformation">
            <cs-select required ng-model="config.transformationKey" ng-options="t.key as t.name for t in transformations | orderBy:'name'"
                placeholder="{{ 'ioiPieChartWidget.configTransformationPlaceholder' | csTranslate }}" ng-disabled="!transformationsLoaded"
            />
        </cs-config-dialog-row>
    </ul>
</cs-dialog-group>