<ul class="csAssetProperties__list">  
  <!--cs-metadata-row read property="asset.traits.canvassale.catalogueDeadline"></cs-metadata-row-->
  <li class="csAssetProperties__list__item">
    <span class="csAssetProperties__list__label">{{asset.traits.canvassale.catalogueDeadline.label}}</span>
    <span class="csAssetProperties__list__value">{{ asset.traits.canvassale.catalogueDeadline.value[0].value| date: 'd MMMM yyyy' }}</span>
  </li>
  
  <!--cs-metadata-row read property="asset.traits.canvassale.signOffDeadline"></cs-metadata-row-->
  <li class="csAssetProperties__list__item">
    <span class="csAssetProperties__list__label">{{asset.traits.canvassale.signOffDeadline.label}}</span>
    <span class="csAssetProperties__list__value">{{ asset.traits.canvassale.signOffDeadline.value[0].value| date: 'd MMMM yyyy' }}</span>
  </li>
  
  <!--cs-metadata-row read property="asset.traits.canvassale.intoDispatchDate"></cs-metadata-row-->
  <li class="csAssetProperties__list__item">
    <span class="csAssetProperties__list__label">{{asset.traits.canvassale.intoDispatchDate.label}}</span>
    <span class="csAssetProperties__list__value">{{ asset.traits.canvassale.intoDispatchDate.value[0].value| date: 'd MMMM yyyy' }}</span>
  </li>
    
  <li class="csAssetProperties__list__item">
    <span class="csAssetProperties__list__label">{{asset.traits.canvassale.productionAccountManager.label}}</span>
    <span class="csAssetProperties__list__value">{{productionAccountManagerDisplayName}}</span>
  </li>
  <li class="csAssetProperties__list__item">
    <span class="csAssetProperties__list__label">{{asset.traits.canvassale.saleCoordinator.label}}</span>
    <span class="csAssetProperties__list__value">{{saleCoordinatorDisplayName}}</span>
  </li>
  <li class="csAssetProperties__list__item">
    <span class="csAssetProperties__list__label">{{asset.traits.canvassale.headOfSaleManagement.label}}</span>
    <span class="csAssetProperties__list__value">{{headOfSaleManagementDisplayName}}</span>
  </li>
  <li class="csAssetProperties__list__item">
    <span class="csAssetProperties__list__label">{{asset.traits.jdesale.approver.label}}</span>
    <span class="csAssetProperties__list__value">{{approverDisplayName}}</span>
  </li>
</ul>
