<ul class="csAssetProperties__list">
  <cs-metadata-row property="asset.traits.canvassale.catalogueDeadline"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.canvassale.signOffDeadline"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.canvassale.intoDispatchDate"></cs-metadata-row>
  <li class="csDialogForm__row">
    <div class="csDialogForm__cell-label">
      <span class="cs-label">{{asset.traits.canvassale.productionAccountManager.label}}</span>  
    </div>
    <div class="csDialogForm__cell">
      <cs-select style="width:15em;height:3.0em; margin-right:10em;"
          ng-model="asset.traits.canvassale.productionAccountManager.value[0].value"
          ng-options="p.id as p.displayName for p in party"
          placeholder="Select user or user group"
          ></cs-select>
    </div>
  </li>
  <li class="csDialogForm__row">
    <div class="csDialogForm__cell-label">
      <span class="cs-label">{{asset.traits.canvassale.saleCoordinator.label}}</span>  
    </div>
    <div class="csDialogForm__cell">
      <cs-select style="width:15em;height:3.0em; margin-right:10em;"
          ng-model="asset.traits.canvassale.saleCoordinator.value[0].value"
          ng-options="p.id as p.displayName for p in party"
          placeholder="Select user or user group"
          ></cs-select>
    </div>
  </li>
    <li class="csDialogForm__row">
    <div class="csDialogForm__cell-label">
      <span class="cs-label">{{asset.traits.canvassale.headOfSaleManagement.label}}</span>  
    </div>
    <div class="csDialogForm__cell">
      <cs-select style="width:15em;height:3.0em; margin-right:10em;"
          ng-model="asset.traits.canvassale.headOfSaleManagement.value[0].value"
          ng-options="p.id as p.displayName for p in party"
          placeholder="Select user or user group"
          ></cs-select>
    </div>
  </li>
    <li class="csDialogForm__row">
    <div class="csDialogForm__cell-label">
      <span class="cs-label">{{asset.traits.jdesale.approver.label}}</span>  
    </div>
    <div class="csDialogForm__cell">
      <cs-select style="width:15em;height:3.0em; margin-right:10em;"
          ng-model="asset.traits.jdesale.approver.value[0].value"
          ng-options="p.id as p.displayName for p in party"
          placeholder="Select user or user group"
          ></cs-select>
    </div>
  </li>
</ul>  