<ul class="csAssetProperties__list">
  <div class="csWidget__header">
  <div class="csWidget__label">JDE Data</div>
  </div>
  <cs-metadata-row read property="asset.traits.jdesale.salenumber"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.jdesale.salesite"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.jdesale.salelocation"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.jdesale.saletitle"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.jdesale.saletype"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.jdesale.saledate"></cs-metadata-row>
  <!-- <li class="csAssetProperties__list__item">
    <span class="csAssetProperties__list__label">{{asset.traits.jdesale.saledate.label}}</span>
    <span class="csAssetProperties__list__value">{{saleDate}}</span>
  </li> -->
  <cs-metadata-row read property="asset.traits.jdesale.numberofsessions"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.jdesale.saledepartment"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.jdesale.costcentercode"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.jdesale.salecurrencycode"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.jdesale.multidepartment"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.jdesale.salestatus"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.jdesale.winesale"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.jdesale.auctioneer"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.ids.id"></cs-metadata-row>
</ul>