<ul class="csAssetProperties__list">
    <div class="csWidget__header">
        <div class="csWidget__label">JDE Data</div>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.display.name.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.display.name.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
    <div>
        <li class="csAssetProperties__list__item">
            <span class="csAssetProperties__list__label">Sale Number</span>
            <span class="csAssetProperties__list__value">{{ parentData.traits.display.name }}</span>
        </li>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.property.lotnumberandsuffix.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.property.lotnumberandsuffix.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.product.firstline.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.product.firstline.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.product.makerDate.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.product.makerDate.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.canvas.artistDate.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.canvas.artistDate.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.product.title.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.product.title.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.product.details.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.product.details.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.product.quantity.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.product.quantity.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>


    <!--div>
    <li class="csAssetProperties__list__item">
      <span class="csAssetProperties__list__label">Estimate 1</span>
     <span class="csAssetProperties__list__value">{{ asset.traits.product.estimateCurrencysale.value[0].value }} {{ asset.traits.product.estimateLowsale.value[0].value }}-{{ asset.traits.product.estimateHighsale.value[0].value }}</span>
    </li>
  </div>
  <div>
    <li class="csAssetProperties__list__item">
      <span class="csAssetProperties__list__label">Estimate 2</span>
     <span class="csAssetProperties__list__value">{{ asset.traits.product.estimateCurrency.value[0].value }} {{ asset.traits.product.estimateLow.value[0].value }}-{{ asset.traits.product.estimateHigh.value[0].value }}</span>
    </li>
  </div>
  <div>
    <li class="csAssetProperties__list__item">
      <span class="csAssetProperties__list__label">Estimate 3</span>
     <span class="csAssetProperties__list__value">{{ asset.traits.product.estimateCurrencychild.value[0].value }} {{ asset.traits.product.estimateLowchild.value[0].value }}-{{ asset.traits.product.estimateHighchild.value[0].value }}</span>
    </li>
  </div-->
    <div ng-repeat="estimate in estimates">
        <li class="csAssetProperties__list__item">
            <span class="csAssetProperties__list__label">{{ estimate.label }}</span>
            <span class="csAssetProperties__list__value">{{ estimate.value }}</span>
        </li>
    </div>

    <!-- <div>
        <div ng-repeat="v in asset.traits.ids.idExtern.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.ids.idExtern.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div> -->
    <div>
        <div ng-repeat="v in asset.traits.product.primaryId.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.product.primaryId.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.product.imageId.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.product.imageId.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.product.inventoryLocation.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.product.inventoryLocation.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.product.saleStatus.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.product.saleStatus.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.product.identifier2nditem.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.product.identifier2nditem.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.ids.id.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.ids.id.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.product.costCenter.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.product.costCenter.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.product.department.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.product.department.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.product.businessMgr.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.product.businessMgr.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
    <div>
        <div ng-repeat="v in asset.traits.product.departmentContactname.value">
            <li class="csAssetProperties__list__item">
                <span class="csAssetProperties__list__label">{{ $first ? asset.traits.product.departmentContactname.label : '' }}</span>
                <span class="csAssetProperties__list__value">{{ v.value }}
                    <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
                </span>
            </li>
        </div>
    </div>
</ul>