<cs-dialog-group title="{{ 'csCommonTranslations.properties' | csTranslate }}">
   <ul>
      <cs-metadata-row required property="asset.traits.display.name"></cs-metadata-row>
      <cs-metadata-row multilines="5" property="asset.traits.display.description"></cs-metadata-row>
      <cs-metadata-row property="asset.traits.workflow.workflowTarget"></cs-metadata-row>
      <cs-metadata-row property="asset.traits.workflow.deadline"></cs-metadata-row>
      <cs-metadata-row multilines="5" property="asset.traits.workflow.annotation"></cs-metadata-row>
   </ul>
</cs-dialog-group>