<div>
	<cs-dialog-group title="Sheet settings.">
		<!-- <cs-checkbox label="Use External Condition" ng-model="cmd.settings.externalCondition"></cs-checkbox> -->
		<!-- <button ng-click="logScope()">Click</button> -->
	  	<cs-checkbox label="Use Image Status" ng-model="cmd.settings.imageStatus"></cs-checkbox>
	  	<div ng-repeat="lang in cmd.settings.language" style="margin-top:5px">
			  <cs-select ng-model="lang.value" ng-if="cmd.ui_settings.path === 'modules/ioi/christies/feature_to_text_mapping/mapping-language.xml'"
		                                        ng-options="l.language as l.languageName for l in languages"></cs-select>
		</div>
	</cs-dialog-group>
	<div style="height: 1em"></div>		
	<cs-dialog-group title="Select data to display on PDF.">
		<div style="display: block;">
	  		<cs-include-dialog key="'ioi:fact-sheet-user-selection-ui-generation-html'" context-asset="cmd" options="xsltOptions"></cs-include-dialog>
		</div>
	</cs-dialog-group>
</div> 