<style>
.ioi-two-column > .csDialogForm__row {
  width:350px;
}
.ioi-two-column .csDialogForm__cell-label {
  min-width:160px;
  
}
.ioi-two-column .csDialogForm__cell {
  max-width:180px;
}

.ioi-two-column .cs-select {
    max-width:180px;
    position:relative;
}

.ioi-two-column .cs-input {
    max-width:180px;
}

.ioi-two-column li {
    float: left;
    display: inline;
   
}
.cs-colorpicker {
  max-width:180px;
  
}
</style>
<h6 class="csAssetProperties__category_title">Dialogue Permissons</h6>
<h6 class="csAssetProperties__title">Approval Permissions</h6>
<ul class="csAssetProperties__list ioi-two-column">
    <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanApprove"></cs-metadata-row>
    <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanReject"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__title">Download Permissions</h6>
<ul class="csAssetProperties__list ioi-two-column">
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogDownload"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanDownloadOriginalPDF"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanSeeHistoric"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogMaxDownload"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__title">Tools Permissions</h6>
<ul class="csAssetProperties__list ioi-two-column">
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUsePenTool"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUseEditBoxTool"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUseDensitometerTool"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUseMeasureTool"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUseZoomTool"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUseDiffAlignement"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanSaveDiffAlignment"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__title">User Rights</h6>
<ul class="csAssetProperties__list ioi-two-column">
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanSeeMenuBar"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanDoGamutCheck"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanDoInkConsumption"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanConfigureICC"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanRunCalibration"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanPrint"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUseZoomPixel"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogMaxZoomLimit"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanChooseJpegQuality"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanDoDifferences"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanCreateSession"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanJoinSession"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanDoRotations"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanConfigurePreferences"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanSeeDocumentInfo"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanSeeExitButton"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanSeeICCConfiguration"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanSeeMemoryUsage"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanSeeNavigator"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanSwitchDocument"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUseMirrorMode"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUseMoireReduction"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanChooseOverlay"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanSeeOPIComments"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUseUniformityCheck"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogClosedLoopBlockDocumentOnFail"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUsePaperSimulation"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUseLocalCache"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogLocalCacheGenerateAll"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogLocalCacheGenerateNumber"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanChooseLayers"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanChooseSeparation"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__title">Note Options</h6>
<ul class="csAssetProperties__list ioi-two-column">
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanCreateNote"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanSeeNoteReport"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanCreateTextNote"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanCreateCheckableNote"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanModifyNoteEnabled"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanModifyNoteValue"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanDeleteNoteEnabled"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanDeleteNoteValue"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanSeeNoteEnabled"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanSeeNoteValue"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanCheckNotesEnabled"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogcanCheckNotesValue"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanSeeCommentEnabled"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanSeeCommentValue"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanModifyCommentEnabled"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanModifyCommentValue"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanDeleteCommentEnabled"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanDeleteCommentValue"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanCollapseNoteEnabled"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanCollapseNoteValue"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanChangeNoteSizeMode"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanHideAll"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanHideShapeOverlay"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanHideNotesOverlay"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanMoveNoteEditorPosition"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanCreateComment"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanSeeExpandAllNotes"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__title">View Options</h6>
<ul class="csAssetProperties__list ioi-two-column">
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUseSpreadView"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogSpreadModeActivated"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogSpreadAcrossMultipage"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUseCornerZoom"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUseFullscreen"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUseWindowMode"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanUseCropTool"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogCanChangeUserColor"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialogdisplayBoxes"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialoglastReverseMode"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialoglastCropMode"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.DialoglastSeparatedMode"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__title">User Preferences</h6>
<ul class="csAssetProperties__list ioi-two-column">
  <li class="csDialogForm__row ng-isolate-scope" >
    <div class="csDialogForm__cell-label ng-scope">
      <span class="cs-label ng-binding">{{asset.traits.ioi$dialogue.Usercolor.label}}</span>
    </div>
    <div class="csDialogForm__cell metadata-transclude ng-scope">
      <cs-colorpicker enable-reset custom-input ng-model="asset.traits.ioi$dialogue.Usercolor.value[0].value"></cs-colorpicker>
    </div>
  </li>
  <cs-metadata-row property="asset.traits.ioi$dialogue.Userunitlength"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.ioi$dialogue.Userunitres"></cs-metadata-row>
</ul>