<div>
  <ul class="csAssetProperties__list">
    <div ng-repeat="val in asset.traits.ioi$dialogue.approvalgroup.value">
         <h6 class="csAssetProperties__title" >{{val.approvaluser.value[0].value }}</h6>
         
       
          <li class="csAssetProperties__list__item ng-isolate-scope" ng-if="val.approval.exists" read property="val.approval" >
  		        <span class="csAssetProperties__list__label ng-binding ng-scope">{{val.approval.label}}</span>
  		        <span class="csAssetProperties__list__value metadata-transclude ng-scope" >
  			      <span class="ng-binding">{{val.approval.value[0].value }}</span>
  		      </span>
		      </li>
		       <li class="csAssetProperties__list__item ng-isolate-scope" ng-if="val.approval.exists" read property="val.approval" >
  		        <span class="csAssetProperties__list__label ng-binding ng-scope">Time Stamp</span>
  		        <span class="csAssetProperties__list__value metadata-transclude ng-scope" >
  			      <span class="ng-binding">{{formatTimeStamp(val.approval.value[0].timestamp )}}</span>
  		      </span>
		      </li>
          <li class="csAssetProperties__list__item ng-isolate-scope" ng-if="val.approvalcomment.exists" read property="val.approvalcomment" >
  		        <span class="csAssetProperties__list__label ng-binding ng-scope">{{val.approvalcomment.label}}</span>
  		        <span class="csAssetProperties__list__value metadata-transclude ng-scope" >
  			      <span class="ng-binding">{{val.approvalcomment.value[0].value }}</span>
  		      </span>
		      </li>
        <h6 class="cs-line-02" style="margin-bottom: 20px;"></h6>
    </div>
  </ul>
</div>