<h6 class="csAssetProperties__title">{{'csCommonTranslations.general' | csTranslate }}</h6>
<ul class="csAssetProperties__list">
  <li class="csAssetProperties__list__item" ng-if="asset.traits.address.address.value[0].personalData.value[0].firstName.value[0].value || asset.traits.address.address.value[0].personalData.value[0].middleName.value[0].value || asset.traits.address.address.value[0].personalData.value[0].lastName.value[0].value">
    <span class="csAssetProperties__list__label">{{'csCommonTranslations.name' | csTranslate }}</span>
    <span class="csAssetProperties__list__value">{{asset.traits.address.address.value[0].personalData.value[0].title.value[0].value}} {{asset.traits.address.address.value[0].personalData.value[0].firstName.value[0].value}} {{asset.traits.address.address.value[0].personalData.value[0].middleName.value[0].value}} {{asset.traits.address.address.value[0].personalData.value[0].lastName.value[0].value}}</span>
  </li>
  <cs-metadata-row read property="asset.traits.address.address.value[0].personalData.value[0].gender"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.address.address.value[0].personalData.value[0].birthday" filter="csDateFormat:'L'"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.address.address.value[0].personalData.value[0].birthplace"></cs-metadata-row>
</ul>

<div ng-if="asset.traits.address.address.value[0].personalData.value[0].department.exists || asset.traits.address.address.value[0].personalData.value[0].function.exists || asset.traits.address.address.value[0].personalData.value[0].company.exists">
  <h6 class="csAssetProperties__title">{{'csCommonTranslations.profession' | csTranslate }}</h6>
  <ul class="csAssetProperties__list">
    <cs-metadata-row read property="asset.traits.address.address.value[0].personalData.value[0].department"></cs-metadata-row>
    <cs-metadata-row read property="asset.traits.address.address.value[0].personalData.value[0].function"></cs-metadata-row>
    <cs-metadata-row read property="asset.traits.address.address.value[0].personalData.value[0].company"></cs-metadata-row>
  </ul>
</div>

<h6 class="csAssetProperties__title">Business Units</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.canvasbu.filterHeirachical"></cs-metadata-row>
</ul>