<cs-dialog-group title="{{'csCommonTranslations.general' | csTranslate }}">
  <ul>
    <cs-metadata-row property="asset.traits.address.address.value[0].personalData">
      <span class="flow p50 cs-p-r-s"><cs-input ng-model="property.value[0].salutation.value[0].value" placeholder="{{property.value[0].salutation.label}}"></cs-input></span>
      <span class="flow p50"><cs-input ng-model="property.value[0].title.value[0].value" placeholder="{{property.value[0].title.label}}"></cs-input></span>
   </cs-metadata-row>
   <cs-metadata-row property="asset.traits.address.address.value[0].personalData" row-label="{{asset.traits.display.name.label}}">
    <div class="cs-grid-wrapper">
      <div class="cs-grid-cell">
        <cs-input ng-model="property.value[0].firstName.value[0].value" placeholder="{{property.value[0].firstName.label}}"></cs-input>
      </div>
      <div class="cs-grid-cell">
        <cs-input ng-model="property.value[0].middleName.value[0].value" placeholder="{{property.value[0].middleName.label}}"></cs-input>
      </div>
      <div class="cs-grid-cell">
        <cs-input ng-model="property.value[0].lastName.value[0].value" placeholder="{{property.value[0].lastName.label}}"></cs-input>
      </div>
    </div>
   </cs-metadata-row>
   <cs-metadata-row property="asset.traits.address.address.value[0].personalData.value[0].gender"></cs-metadata-row>
   <cs-metadata-row property="asset.traits.address.address.value[0].personalData.value[0].birthday">
    <cs-datepicker ng-model="property.value[0].value" date-only class="cs-has-fixed-width"></cs-datepicker>
   </cs-metadata-row>
   <cs-metadata-row property="asset.traits.address.address.value[0].personalData.value[0].birthplace"></cs-metadata-row>
  </ul>
</cs-dialog-group>

<cs-dialog-group title="{{'csCommonTranslations.profession' | csTranslate }}">
  <ul>
    <cs-metadata-row property="asset.traits.address.address.value[0].personalData.value[0].function"></cs-metadata-row>
    <cs-metadata-row property="asset.traits.address.address.value[0].personalData.value[0].department"></cs-metadata-row>
    <cs-metadata-row property="asset.traits.address.address.value[0].personalData.value[0].company"></cs-metadata-row>
  </ul>   
</cs-dialog-group>

<cs-dialog-group title="Business Units">
  <ul>
    <cs-metadata-row property="asset.traits.canvasbu.filterHeirachical"></cs-metadata-row>
  </ul>   
</cs-dialog-group>