<div class="csPageActions" ng-class="$ctrl.cssModule">
    <header class="csPageActions__header">
        <div class="csPageActions__top">
            <h1>
                <cs-page-icon class="csPageActions__top-icon" ng-class="{'hover-icon': $ctrl.assetId !== undefined}" ng-if="$ctrl.iconsInfo && $ctrl.iconsInfo && $ctrl.iconsInfo.large" icon="$ctrl.iconsInfo" cs-draggable="$ctrl.dragIface"></cs-page-icon>
                <cs-page-icon class="csPageActions__top-icon" ng-class="{'hover-icon': $ctrl.assetId !== undefined}" ng-if="!($ctrl.iconsInfo && $ctrl.iconsInfo && $ctrl.iconsInfo.large)" icon="$ctrl.icon" cs-draggable="$ctrl.dragIface"></cs-page-icon>
                <span class="csPageActions__top-title" ng-if="data.traits.type.type != 'product.'" cs-translate="$ctrl.title"></span>
                <span class="subtitle-divider" ng-if="$ctrl.notification.count &gt; 0 && data.traits.type.type != 'product.'">|</span>
                <span class="subtitle" ng-if="$ctrl.notification.count &gt; 0">{{$ctrl.notification.count | number}}</span>
                <span class="subtitle-divider" ng-if="$ctrl.subtitle.length &gt; 0 && data.traits.type.type != 'product.'"> | </span>
                <span class="subtitle" ng-if="$ctrl.subtitle.length &gt; 0 && data.traits.type.type != 'product.'" cs-translate="$ctrl.subtitle"></span>
                <span class="subtitle" ng-show="data.traits.type.type == 'product.' && parentName != undefined">{{parentName}}</span>
                <span class="subtitle-divider" ng-show="data.traits.property.lotnumberandsuffix.value != undefined && data.traits.type.type == 'product.'">|</span>
                <span class="subtitle" ng-show="lotNumberAndSuffix != undefined && data.traits.type.type == 'product.'">{{lotNumberAndSuffix}}</span>
                <span ng-repeat="prop in propertyDetails" ng-show="data.traits.type.type == 'product.'">
                    <span class="subtitle-divider" ng-if="prop.length &gt; 0">|</span>
                    <span class="subtitle" ng-if="prop.length &gt; 0">{{ prop }}</span>
                </span>
                <span class="subtitle-divider" ng-show="data.traits.jdesale.saletitle.value != undefined"> | </span>
                <span class="subtitle" style="font-size:15px;" ng-show="data.traits.type.type == 'sale.'">{{data.traits.jdesale.saletitle.value}}</span>
                <span class="subtitle-divider" ng-show="data.traits.jdesale.salesite.value != undefined"> | </span>
                <span class="subtitle" style="font-size:15px;" ng-show="data.traits.type.type == 'sale.'">{{data.traits.jdesale.salesite.value}}</span>
                <span class="subtitle-divider" ng-show="data.traits.jdesale.saledate.value != undefined"> | </span>
                <span class="subtitle" style="font-size:15px;" ng-show="data.traits.type.type == 'sale.'">{{saleDate}}</span>
                <span class="subtitle-divider" ng-if="$ctrl.notification.locking">|</span>
                <span class="cs-icon cs-icon-edit is-status-icon status cs-color-30" ng-if="$ctrl.notification.locking == 'self'" cs-translate="{ title: 'csCommonTranslations.checkoutSelf' }"></span>
                <span class="cs-icon cs-icon-lock is-status-icon status cs-color-36" ng-if="$ctrl.notification.locking == 'foreign'" cs-translate="{ title: checkoutUser }"></span>
                <span class="cs-icon cs-icon-archive is-status-icon status cs-color-05" ng-if="$ctrl.notification.locking == 'archived'" cs-translate="{ title: 'csCommonTranslations.checkoutArchive' }"></span>
                <span class="cs-icon cs-icon-ban is-status-icon status cs-color-05" ng-if="$ctrl.notification.locking == 'nopermission'" cs-translate="{ title: 'csCommonTranslations.checkoutNoPermission' }"></span>
            </h1>
        </div>
        <div class="csPageActions__filterbar__left">
            <cs-menu-repeat menu="$ctrl.pageActionsRegistry.public" tabs="{ droppableTabHeader: true }" data-filter-from="0" data-filter-to="200" cssClass="cs-tabs-01 csControl__menu_tabs"></cs-menu-repeat>
        </div>
        <div class="csPageActions__filterbar__center">
            <cs-menu-repeat menu="$ctrl.pageActionsRegistry.public" data-filter-from="5000" data-filter-to="6000" cssClass="csControl__menu"></cs-menu-repeat>
        </div>
        <div class="csPageActions__filterbar__right">
            <cs-menu-repeat menu="$ctrl.pageActionsRegistry.public" data-filter-from="200" data-filter-to="400" cssClass="csControl__menu"></cs-menu-repeat>
        </div>
    </header>
</div>