<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.display.name"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.type.type"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.type.category">
    <div ng-repeat="cat in property.value">
      <cs-open-asset-page resource-key="{{cat.value}}" class="cs-is-subtle">
        <span class="cs-tag-03 cs-is-small">
          <span class="cs-tag-text">{{cat.display_value}}</span>
        </span>
        <!--<span>{{cat.display_value}}</span>-->
      </cs-open-asset-page>
    </div>
  </cs-metadata-row>
  <cs-metadata-row read property="asset.traits.display.description"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.origin.author"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.domain.domain"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.domain.domain2"></cs-metadata-row>

<div>
    <div ng-repeat="v in asset.traits.canvasml.salenumber.value">
      <li class="csAssetProperties__list__item">
            <span class="csAssetProperties__list__label">{{ $first ? asset.traits.canvasml.salenumber.label : '' }}</span>
              <span class="csAssetProperties__list__value">{{ v.value }}
                <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
              </span>
          </li>
      </div>
  </div>



  <li class="csAssetProperties__list__item" ng-if="asset.traits.content.language.value[0].value" read="read">
    <span class="csAssetProperties__list__label">{{asset.traits.content.language.label}}</span>
    <span class="csAssetProperties__list__value">{{asset.traits.content.language.value[0].display_value}}<span ng-if="asset.traits.content.additionalLanguage.value[0].value" ng-repeat="lang in asset.traits.content.additionalLanguage.value">, {{lang.display_value}}</span></span>
  </li>
  <cs-metadata-row read property="asset.traits.content.usageLanguage"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.rating.rating"></cs-metadata-row>
  <li class="csAssetProperties__list__item" ng-if="asset.traits.censhare_internal.url.value[0].value" read="read">
    <span class="csAssetProperties__list__label">{{'csCommonTranslations.externalUrl' | csTranslate }}</span>
    <span class="csAssetProperties__list__value"><a href="{{(asset.traits.censhare_internal.url.value[0].value.indexOf(':/')==-1 ? 'http://' : '') + asset.traits.censhare_internal.url.value[0].value}}" target="_blank" style="word-break: break-all;">{{asset.traits.censhare_internal.url.value[0].value}}</a></span>
  </li>
  <cs-metadata-row read property="asset.traits.display.color"></cs-metadata-row>
</ul>

<cs-include-dialog key="'censhare:metadata.general-status.include'" context-asset="asset" watch-ccn></cs-include-dialog>

<div class="csWidget__header">
  <div class="csWidget__label">{{ 'csCommonTranslations.status' | csTranslate }}</div>
</div>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.created.by"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.created.date" filter="csDateFormat:'L, LT'"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.modified.by"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.modified.date" filter="csDateFormat:'L, LT'"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.checked_out.by"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.checked_out.date" filter="csDateFormat:'L, LT'"></cs-metadata-row>
  <hr class="cs-line-01 cs-m-t-xs cs-neg-m-h"/>

  <cs-metadata-row read property="asset.traits.ids.id"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.versioning.version"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.versioning.contentVersion"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.usage_rights.usageRights"></cs-metadata-row>
  <hr class="cs-line-01 cs-m-t-xs cs-neg-m-h"/>

  <cs-metadata-row read property="asset.traits.state.deletion" translate-prefix="csCommonTranslations.deletion_"></cs-metadata-row>
  <!-- <li class="csAssetProperties__list__item" ng-if="restoreTrash">
    <div class="csAssetProperties__list__label"></div>
    <div class="csAssetProperties__list__value">
      <cs-button class="cs-button-alt cs-is-small" ng-click="restoreTrash()">{{ 'csCommonTranslations.restore' | csTranslate }}</cs-button>
    </div>
  </li> -->
  <!-- <li class="csAssetProperties__list__item" ng-if="rearchive">
    <div class="csAssetProperties__list__label"></div>
    <div class="csAssetProperties__list__value">
      <cs-button class="cs-button-alt cs-is-small" ng-click="rearchive()">{{ 'csAssetStatusWidget.dearchive' | csTranslate }}</cs-button>
    </div>
  </li> -->
  <cs-metadata-row read property="asset.traits.state.storageState" translate-prefix="csCommonTranslations.storage_state_"></cs-metadata-row>
</ul>