<h6 class="csAssetProperties__category_title">BizTalk</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.transmissionDate"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__category_title">Catalogue Text</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.canvas.artistDate"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.catalogueNotes"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.details"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.engraved"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.exhibited"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.firstline"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.heading"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.index"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.literature"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.makerDate"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.marked"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.otherDetails"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.parcelNumber"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.pictureMedium"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.pictureSize"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.postlotText"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.preLottext"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.provenance"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.quantityDesc"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.reference"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.signature"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.size"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.subHead"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.title"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.weight"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__category_title">Charges</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.actualMarketingcharge"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.artistreSaleright"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.calArtistresaleright"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.christiesOwninterest"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.droitdesuite"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.glcategory"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.illustrationSize"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.inBond"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.inbondDutyrate"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.insurancePackingcomcode"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.ldlconditionalwaive"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.lossDamageliability"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.lossDamagepercentage"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.marketingConditionalwaiver"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.plusValue"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.postSaleoffsitestorage"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.specialFinancialrequirements"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.storageCharges"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.waiveHandlingcharge"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__category_title">Department</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.businessMgr"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.businessMgrname"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.costCenter"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.department"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.departmentContactname"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.departmentName"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__category_title">Dimensions</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.cataloguedepth"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.catalogueDiameter"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.catalogueDimensionA"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.catalogueDimensionU"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.catalogueWeight"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.catalogueWeightalte"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.catalogueWeightum"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.catalogueWidth"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.inventoryDepth"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.inventoryDiameter"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.inventoryDimensiona"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.inventoryDimensionU"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.inventoryHeight"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.inventoryLocation"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.inventoryUnitofmeasureprim"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.inventoryWeight"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.inventoryWeightalternate"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.inventoryWeightum"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.inventoryWidth"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.postDimensionphrase"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.postWeightphrase"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.preDimensionphrase"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.preWeightphrase"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__category_title">Estimates</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.clientGuaranteeamount"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.clientGuaranteecurrency"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.clientGuaranteewhoagreed"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateCurrency"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateCurrencyCHF"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateCurrencyCNY"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateCurrencyINR"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateCurrencyJPY"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateCurrencyKWN"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateCurrencyeur"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateCurrencygbp"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateCurrencysale"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateCurrencyusd"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimatecurrencychild"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimatecurrencyhkd"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateHigheur"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateHighhkd"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateHighsale"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimatehigh"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimatehighCHF"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimatehighCNY"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimatehighINR"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimatehighJPY"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimatehighKWN"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimatehighchild"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimatehighgbp"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimatehighusd"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateLow"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateLowCHF"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateLowCNY"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateLowINR"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateLowJPY"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateLowKWN"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateLoweur"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateLowgbp"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateLowhkd"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateLowsale"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimatelowchild"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimatelowusd"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateOnrequest"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.estimateStatus"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.guarantee"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.guaranteeAmount"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.guaranteeAmountconv"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.guaranteeAmountrounded"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.guaranteecurrencycode"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.holidayAmount"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.holidayAmountconverted"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.holidayAmountrounded"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.propertycurrencycode"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.reserveAmount"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.reserveConvertedamount"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.reservecurrency"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.reserveRoundedamount"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.reserveStatus"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.valuationCurrency"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.valuationHigh"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.valuationLow"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.valuationsDate"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.valuationsRef"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__category_title">External Condition Report</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.externalCondition"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.externReportimage1"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.externReportimage2"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.externReportimage3"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.externReportimage4"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__category_title">Image</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.primaryId"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__category_title">Import/Export</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.additionalCites"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.carnetNumber"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.circaDate"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.citesLatinname"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.countryoforigin"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.declarationEntrynum"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.dubaiDuty"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.endangered"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.exportCountry"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.exportLicence"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.firearms"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.freeport"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.freeportlocation"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.frenchpassportissue"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.frenchpassportnumber"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.globalcommoditycode"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.harmonizedCh"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.harmonizedCode"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.harmonizedEu"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.harmonizedUs"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.harmonizehk"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.hazardWatchbat"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.importCountry"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.importDate"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.importDateproof"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.importDateproofdescription"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.importEntrydate"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.importManagedby"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.importedDutyrate"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.importinformation"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.importrestrictiononwatch"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.indiaNoexport"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.issueDate"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.itemimported"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.marginSchemeindicator"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.missingCommonname"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.missingLatinname"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.restrictBurmesestone"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.restricted"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.restrictedBy"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.restrictedComment"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.restrictedDate"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.shippingTrackingrefe"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.speciesCommonname"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.taxOnlot"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.tempExportexpirydate"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.temporaryAdmexpirydate"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.temporaryExportflag"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.temporaryImportflag"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.userSettingtempexport"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.wildPlantoranimal"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__category_title">Language</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.baseLanguage"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.languagePreference"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__category_title">Lot</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.itemIntention"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.itemVersion"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.property.lotnumberandsuffix"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.lotCardoverride"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__category_title">Make Stock</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.makeStock"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.makeStockamount"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.makeStockcurrency"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.makeStockdate"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.makeStocknotes"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.makeStockreason"></cs-metadata-row>
  </ul>
<h6 class="csAssetProperties__category_title">Private Sales</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.collectriumintegrat"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.privateSale"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.privateSalesdesc"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.privateSalestatus"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.privateSalestatusactive"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__category_title">Sale</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.bookSale"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.expectedSalemonth"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.expectedsaleyear"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.location"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.saleNumber"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.saleSite"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.saleStatus"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.saleTitle"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.wineSale"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__category_title">Seller</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.primaryLastvendorname"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.primaryLastvendorno"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.sellerAgreement"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__category_title">Status</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.cataloguePrinted"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.catalogueTextcomplete"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.cataloguingcomplete"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.propsListchecked"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.tobeHilled"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.tobePhotographed"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__category_title">Symbol</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.symbol"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.symbolCode"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.symbolConverted"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.symbolDescription"></cs-metadata-row>
</ul>
<h6 class="csAssetProperties__category_title">Wine</h6>
<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.biddingParcel"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.catalogueWinebottles"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.catalogueWinecasequantity"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.catalogueWinecaseunits"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.catalogueWineper"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.catalogueWinequantity"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.catalogueWineunitofm"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.description"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.parcelSequence"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.wineCategory"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.wineVintagetype"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.wineVintageyear"></cs-metadata-row>
</ul>