<ul class="csAssetProperties__list">
  <!-- <cs-metadata-row read property="asset.traits.canvas.useExternalCondition"></cs-metadata-row> -->
  <!-- <cs-metadata-row read property="asset.traits.canvas.userSelectedProperties.value[0].xmldata.cmd.settings.excludes.ExternalCondition"></cs-metadata-row> -->
  <cs-metadata-row read property="asset.traits.canvas.useImageStatus"></cs-metadata-row>
  <div ng-if="asset.traits.canvas.userSelectedProperties.value[0].xmldata !== undefined">
    <li class="csAssetProperties__list__item" ng-repeat="l in asset.traits.canvas.userSelectedProperties.value[0].xmldata.cmd.settings.language">
      <span class="csAssetProperties__list__label">Language</span>
      <span class="csAssetProperties__list__value">{{ l.value }}</span>
    </li>
    <li class="csAssetProperties__list__item" ng-repeat="val in newExcludes | orderBy: 'sort'">
    	<span class="csAssetProperties__list__label">{{ val.label }}</span>
    	<span class="csAssetProperties__list__value">{{ val.value }}</span>
    </li>
  </div>
</ul>