<div>
	<cs-dialog-group title="Fact sheet settings.">
		<ul class="csAssetProperties__list">
			<!-- <cs-metadata-row property="asset.traits.canvas.useExternalCondition"></cs-metadata-row> -->
			<!-- <cs-metadata-row property="asset.traits.canvas.useImageStatus"></cs-metadata-row> -->
			<cs-checkbox label="{{asset.traits.canvas.useImageStatus.label}}" ng-model="asset.traits.canvas.useImageStatus.value[0].value"></cs-checkbox>
		</ul>
		<div ng-repeat="lang in asset.traits.canvas.userSelectedProperties.value[0].xmldata.cmd.settings.language track by $index" style="margin-top:5px">
			<cs-select ng-model="lang.value" ng-options="l.language as l.languageName for l in languages"></cs-select>
		</div>
	</cs-dialog-group>
	<div style="height: 1em"></div>
	<cs-dialog-group title="Select data to display on PDF.">
		<div style="display: block;">
			<cs-include-dialog key="'ioi:fact-sheet-user-selection-ui-generation-html'" context-asset="cmd" options="xsltOptions"></cs-include-dialog>
		</div>
	</cs-dialog-group>
</div>