/*
  login_page_standard01 csLogin.less
  --------------------------
*/

/* Source Sans Pro Light */
@font-face {
  font-family: 'SourceSansPro';
  src: url('fonts/SourceSansPro-Light.eot');
  src: local("☺"),
    url('fonts/SourceSansPro-Light.ttf.woff') format('woff'),
    url('fonts/SourceSansPro-Light.otf.woff') format('opentype'),
    url('fonts/SourceSansPro-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

/* Source Sans Pro Semibold */
@font-face {
  font-family: 'SourceSansPro';
  src: url('fonts/SourceSansPro-Semibold.eot');
  src: local("☺"),
    url('fonts/SourceSansPro-Semibold.ttf.woff') format('woff'),
    url('fonts/SourceSansPro-Semibold.otf.woff') format('opentype'),
    url('fonts/SourceSansPro-Semibold.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

html {
  background-color: #000;
}

.login-body {
  display: block;
  position: relative;
  height: 100%;
  font-family: 'SourceSansPro', Arial, sans-serif;
  font-weight: 300;
  background: url('censhare_login_frame01.jpg') no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  
}
.login-content {
  display: inline-block; 
  background: url('censhare_link.svg') no-repeat right -2.3rem; 
  background-size: 160% auto; 
  padding: 2.4rem 2.5rem 0 4.8rem; 
  width: 39rem; height: 100%; 
  font-weight: @font-weight-light;
}

.login-content p {
  color: white; margin:0;
}

.login-header {
  font-weight: 300;
  font-style: normal;
  font-variant: normal;
  font-size: 4.6rem;
  line-height: 4.5rem;
  color: white;
  margin-bottom: 1.3rem;
}