<div class="csLogin__frame">
    <!-- customized login html page is defined: load in iFrame as BG -->
    <div class="csLogin__emotional" ng-if="::loginPage.isHtml">
        <iframe ng-src="{{::loginPage.resource}}" width="100%" height="100%" class="csCustomLoginPage"/>
    </div>

    <!-- fallback version if no custom login html page is defined -->
    <div class="csLogin__emotional cs-is-fallback" ng-if="::!loginPage.isHtml">
        <div class="censhare-logo-link">
            <div class="censhare-link-item"></div>
        </div>
        <div class="censhare-logo-link">
            <div class="censhare-link-item"></div>
        </div>
        <div class="censhare-logo-link">
            <div class="censhare-link-item"></div>
        </div>
        <div class="censhare-logo-link">
            <div class="censhare-link-item"></div>
        </div>
        <div class="censhare-logo-link">
            <div class="censhare-link-item"></div>
        </div>
        <div class="censhare-logo-link">
            <div class="censhare-link-item"></div>
        </div>
        <div class="censhare-logo-link">
            <div class="censhare-link-item"></div>
        </div>
        <div class="censhare-logo-link">
            <div class="censhare-link-item"></div>
        </div>
        <div class="censhare-logo-link">
            <div class="censhare-link-item"></div>
        </div>
    </div>

    <div class="csLogin__mask" ng-class="{'cs-is-ready': pageIsReady}">
        <header class="csLogin__logo__area">
            <div class="csLogin__logo" cs-translate="{title: 'csLoginFrame.logoTitle'}"
                 ng-style="{'background-image':'url({{loginLogoUrl}})'}">
            </div>
        </header>

        <div ng-if="isSecure === false && enforceHTTPS" class="csLogin__errors csLogin__errors_text">
            <img class="cs-state-icon-padded" src="img/not-secure.svg">
            <div class="cs-error-header" cs-translate="'csLoginFrame.notSecure'"></div>
            <div cs-translate="'csLoginFrame.notSecureTxt'"></div>
            <button class="cs-button-cta cs-button-https" type="submit"
                    ng-click="redirectHttps()"
                    cs-translate="'csLoginFrame.loginHttps'">
            </button>
        </div>

        <div class="csLogin__errors" ng-class="{'cs-has-content': alerts.length}">
            <div>
                <p ng-repeat="alert in alerts" ng-click="closeAlert($index)" cs-translate="alert.msg"></p>
            </div>
        </div>

        <div class="csLogin__success" ng-class="{'cs-has-content': type.sendNewPwdSuccess}" cs-translate="'csLoginFrame.sendNewPwdSuccess'"></div>

        <div class="csLogin__success" ng-class="{'cs-has-content': type.resetPwdSuccess}" ng-if="partyIsActive" cs-translate="'csLoginFrame.resetPwdSuccess'"></div>

        <div ng-if="isSecure === true || !enforceHTTPS" class="csLogin__form_container csLogin__type_login"
             ng-class="{'cs-is-open': type.login}">
            <!--<span ng-hide="isSecure" style="color:red">Must be on a secure connection! Please try again with https.</span>-->
            <form class="csLogin__form__login">
                <cs-input class="cs-m-b-s"
                          ng-model="loginform.username"
                          placeholder="{{ 'csLoginFrame.login' | csTranslate }}"
                          autocapitalize="none"
                          ng-minlength="2"
                          cs-focus>
                </cs-input>
                <cs-password class="cs-m-b-s"
                             cs-clearable
                             ng-model="loginform.password"
                             placeholder="{{ 'csLoginFrame.password' | csTranslate }}">
                </cs-password>
                <button class="cs-button-cta"
                        ng-click="submitLogin()" ng-if="! isExpired"
                        ng-disabled="loginInProgress"
                        type="submit">
                    <span ng-if="!loginInProgress" cs-translate="'csLoginFrame.logIn'"></span>
                    <div class="csLogin__form_container_loading_btn"
                         ng-if="loginInProgress"><cs-busy-spinner></cs-busy-spinner></div>
                </button>
                <button class="cs-button-cta"
                        ng-click="renew()" ng-if="isExpired"
                        type="submit"
                        cs-translate="'csLoginFrame.resetBtn2'">
                </button>
            </form>
            <!-- *** Hiding Forgot password on login screen ***
            <p class="cs-m-t">
                <small class="cs-color-06">
                    <a ng-click="forgotPassword()" cs-translate="'csLoginFrame.forgotPassword'"></a>
                </small>
            </p> -->
        </div>

        <div class="csLogin__form_container csLogin__type_forgot_pwd" ng-class="{'cs-is-open': type.forgot}">
            <form>
                <cs-input class="cs-m-b-s"
                          ng-model="loginform.username"
                          placeholder="{{ 'csLoginFrame.login' | csTranslate }}"
                          autocapitalize="none"
                          ng-required="required"
                          ng-minlength="2"
                          title="{{ 'csLoginFrame.loginTooltip' | csTranslate }}">
                </cs-input>
                <cs-input class="cs-m-b-s"
                          ng-model="loginform.email"
                          placeholder="{{ 'csLoginFrame.email' | csTranslate }}"
                          autocapitalize="none"
                          ng-required="required"
                          title="{{ 'csLoginFrame.emailTooltip' | csTranslate }}">>
                </cs-input>
                <button class="cs-button-cta"
                        ng-click="sendPasswordForgot()"
                        type="submit"
                        cs-translate="'csLoginFrame.resetBtn'">
                </button>
            </form>
            <p class="cs-m-t">
                <small class="cs-color-06">
                    <a ng-click="back()">
                        <i class="cs-icon cs-icon-back"></i>
                        <span cs-translate="'csLoginFrame.backToLogin'"></span>
                    </a>
                </small>
            </p>
        </div>

        <div class="csLogin__form_container csLogin__type_reset_pwd" ng-class="{'cs-is-open': type.reset}">
            <span ng-hide="isSecure"
                  style="color:red">Must be on a secure connection! Please try again with https.</span>
            <form ng-show="isSecure" name="pwResetForm">
                <h2 cs-translate="'csLoginFrame.reset'"></h2>
                <h3 ng-if="! partyIsActive" cs-translate="'csLoginFrame.userIsDisabled'"></h3>
                <div class="cs-m-b-s"><strong>{{ username }}</strong></div>
                <cs-password class="cs-m-b-s"
                             ng-model="loginform.password"
                             placeholder="{{ 'csLoginFrame.newPassword' | csTranslate }}"
                             title="{{ 'csLoginFrame.passwordTooltip' | csTranslate }}"
                             autocapitalize="none"
                             ng-required="true">
                </cs-password>
                <cs-password class="cs-m-b-s"
                             ng-model="loginform.passwordConfirmation"
                             placeholder="{{ 'csLoginFrame.passwordConfirmation' | csTranslate }}"
                             title="{{ 'csLoginFrame.passwordConfirmationTooltip' | csTranslate }}"
                             autocapitalize="none"
                             ng-required="true">
                </cs-password>
                <button class="cs-button-cta" ng-click="change()" type="submit" ng-disabled="pwResetForm.$invalid" cs-translate="'csLoginFrame.change'"></button>
            </form>
            <p class="cs-m-t" ng-if="partyIsActive">
                <small class="cs-color-06">
                    <a ng-click="back()">
                        <i class="cs-icon cs-icon-back"></i>
                        <span cs-translate="'csLoginFrame.backToLogin'"></span>
                    </a>
                </small>
            </p>
        </div>

        <!--<hr class="cs-line-01"/>-->
        <!--<p class="message cs-m-t-s">-->
        <!--{{ 'csLoginFrame.notRegistered' | csTranslate }} <a href="#">{{ 'csLoginFrame.createAccount' | csTranslate }}</a>-->
        <!--</p>-->
    </div>
</div>