<span>{{data.traits.type.label_type}}</span>
<span class="subtitle-divider" ng-show="data.traits.jdesale.saletitle.value != undefined">|</span>
<span class="subtitle" style="font-size:15px;" ng-show="data.traits.type.type == 'sale.'">{{data.traits.jdesale.saletitle.value}}</span>
<span class="subtitle-divider" ng-show="data.traits.jdesale.salesite.value != undefined">|</span>
<span class="subtitle" style="font-size:15px;" ng-show="data.traits.type.type == 'sale.'">{{data.traits.jdesale.salesite.value}}</span>
<span class="subtitle-divider" ng-show="data.traits.jdesale.saledate.value != undefined">|</span>
<span class="cs-pre" ng-show="data.traits.type.type == 'sale.'">{{data.traits.jdesale.saledate.value | csDateFormat: 'D MMMM YYYY' }}</span>
<span class="subtitle-divider" ng-show="data.traits.jdesale.saletitle.value != undefined">|</span>
<span ng-show="data.traits.type.type == 'product.'">
	<span class="subtitle-divider" ng-show="data.traits.property.lotnumberandsuffix.value != undefined">|</span>
	<span class="subtitle" style="font-size:15px;" ng-show="data.traits.property.lotnumberandsuffix.value[0].value == undefined">{{ data.traits.property.lotnumberandsuffix.value }}</span>
	<span ng-if="data.traits.product.firstline.values[0].value != undefined">
		<span ng-repeat="v in data.traits.product.firstline.values">
			<span ng-if="v.language == undefined" class="subtitle" style="font-size:15px;">
				<span class="subtitle-divider"> | </span>{{ v.value }}
			</span>
			<span ng-if="v.language != undefined">
				<span ng-if="v.language == 'en'" class="subtitle" style="font-size:15px;">
					<span class="subtitle-divider"> | </span>{{ v.value }}
				</span>
			</span>
		</span>
		<span ng-if="data.traits.product.makerDate.values[0].value != undefined">
			<span ng-repeat="v in data.traits.product.makerDate.values">
				<span ng-if="v.language == undefined" class="subtitle" style="font-size:15px;">
					<span class="subtitle-divider"> | </span>{{ v.value }}
				</span>
				<span ng-if="v.language != undefined">
					<span ng-if="v.language == 'en'" class="subtitle" style="font-size:15px;">
						<span class="subtitle-divider"> | </span>{{ v.value }}
					</span>
				</span>
			</span>
		</span>
	</span>
	<span ng-if="data.traits.product.firstline.values[0].value == undefined && data.traits.canvas.artistDate.values[0].value != undefined">
		<span ng-repeat="v in data.traits.canvas.artistDate.values">
			<span ng-if="v.language == undefined" class="subtitle" style="font-size:15px;">
				<span class="subtitle-divider"> | </span>{{ v.value }}
			</span>
			<span ng-if="v.language != undefined">
				<span ng-if="v.language == 'en'" class="subtitle" style="font-size:15px;">
					<span class="subtitle-divider"> | </span>{{ v.value }}
				</span>
			</span>
		</span>
		<span ng-if="data.traits.product.title.values[0].value != undefined">
			<span ng-repeat="v in data.traits.product.title.values">
				<span ng-if="v.language == undefined" class="subtitle" style="font-size:15px;">
					<span class="subtitle-divider"> | </span>{{ v.value }}
				</span>
				<span ng-if="v.language != undefined">
					<span ng-if="v.language == 'en'" class="subtitle" style="font-size:15px;">
						<span class="subtitle-divider"> | </span>{{ v.value }}
					</span>
				</span>
			</span>
		</span>
	</span>
	<span ng-if="data.traits.product.firstline.values[0].value == undefined && data.traits.canvas.artistDate.values[0].value == undefined && data.traits.product.title.values[0].value != undefined">
		<span ng-repeat="v in data.traits.product.title.values">
			<span ng-if="v.language == undefined" class="subtitle" style="font-size:15px;">
				<span class="subtitle-divider"> | </span>{{ v.value }}
			</span>
			<span ng-if="v.language != undefined">
				<span ng-if="v.language == 'en'" class="subtitle" style="font-size:15px;">
					<span class="subtitle-divider"> | </span>{{ v.value }}
				</span>
			</span>
		</span>
	</span>
	<span ng-if="data.traits.product.firstline.values[0].value == undefined && data.traits.canvas.artistDate.values[0].value == undefined && data.traits.product.title.values[0].value == undefined && data.traits.product.details.values[0].value != undefined">
		<span ng-repeat="v in data.traits.product.details.values">
			<span ng-if="v.language == undefined" class="subtitle" style="font-size:15px;">
				<span class="subtitle-divider"> | </span>{{ v.value }}
			</span>
			<span ng-if="v.language != undefined">
				<span ng-if="v.language == 'en'" class="subtitle" style="font-size:15px;">
					<span class="subtitle-divider"> | </span>{{ v.value }}
				</span>
			</span>
		</span>
	</span>
</span>
<span ng-show="data.traits.type.type == 'picture.'">
	<!-- <span>{{data}}</span> -->
	<span class="subtitle-divider">|</span>
	<span class="subtitle" style="font-size:15px;" ng-show="data.traits.type.type == 'picture.'">{{data.traits.canvasml.salenumber.values[0].value}}</span>
</span>
