<ul class="csAssetProperties__list" ng-if="visible">
  <cs-metadata-row property="asset.traits.product.approvedForDotcom"></cs-metadata-row>
  <cs-metadata-row property="asset.traits.product.includeEstimates"></cs-metadata-row>
  <div ng-show="showSendUpdate">
    <cs-metadata-row property="asset.traits.product.sendUpdate"></cs-metadata-row>
  </div>
</ul>
<ul class="csAssetProperties__list" ng-if="!visible">
  <cs-metadata-row read property="asset.traits.product.approvedForDotcom"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.includeEstimates"></cs-metadata-row>
</ul>