<ul class="csAssetProperties__list">
  <cs-metadata-row read property="asset.traits.product.approvedForDotcom"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.includeEstimates"></cs-metadata-row>
  <cs-metadata-row read property="asset.traits.product.sendUpdate"></cs-metadata-row>
</ul>