<ul class="csAssetProperties__list">
  <div>
    <div ng-repeat="v in asset.traits.canvasml.name.value">
      <li class="csAssetProperties__list__item">
            <span class="csAssetProperties__list__label">{{ $first ? asset.traits.canvasml.name.label : '' }}</span>
              <span class="csAssetProperties__list__value">{{ v.value }}
                <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
              </span>
          </li>
      </div>
  </div>
  <div>
    <div ng-repeat="v in asset.traits.ids.idExtern.value">
      <li class="csAssetProperties__list__item">
            <span class="csAssetProperties__list__label">{{ $first ? asset.traits.ids.idExtern.label : '' }}</span>
              <span class="csAssetProperties__list__value">{{ v.value }}
                <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
              </span>
          </li>
      </div>
  </div>
  <div>
    <div ng-repeat="v in asset.traits.canvasml.salenumber.value">
      <li class="csAssetProperties__list__item">
            <span class="csAssetProperties__list__label">{{ $first ? asset.traits.canvasml.salenumber.label : '' }}</span>
              <span class="csAssetProperties__list__value">{{ v.value }}
                <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
              </span>
          </li>
      </div>
  </div>
  <div>
    <div ng-repeat="v in asset.traits.canvasml.originlocation.value">
      <li class="csAssetProperties__list__item">
            <span class="csAssetProperties__list__label">{{ $first ? asset.traits.canvasml.originlocation.label : '' }}</span>
              <span class="csAssetProperties__list__value">{{ v.value }}
                <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
              </span>
          </li>
      </div>
  </div>
  <div>
    <div ng-repeat="v in asset.traits.canvasml.highresfilepath.value">
      <li class="csAssetProperties__list__item">
            <span class="csAssetProperties__list__label">{{ $first ? asset.traits.canvasml.highresfilepath.label : '' }}</span>
              <span class="csAssetProperties__list__value">{{ v.value }}
                <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
              </span>
          </li>
      </div>
  </div>
  <div>
    <div ng-repeat="v in asset.traits.canvasml.photographer.value">
      <li class="csAssetProperties__list__item">
            <span class="csAssetProperties__list__label">{{ $first ? asset.traits.canvasml.photographer.label : '' }}</span>
              <span class="csAssetProperties__list__value">{{ v.value }}
                <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
              </span>
          </li>
      </div>
  </div>
  <div>
    <div ng-repeat="v in asset.traits.canvasml.contactemail.value">
      <li class="csAssetProperties__list__item">
            <span class="csAssetProperties__list__label">{{ $first ? asset.traits.canvasml.contactemail.label : '' }}</span>
              <span class="csAssetProperties__list__value">{{ v.value }}
                <span style="text-align:left;color:#b2b2b2;" ng-if="v.language != undefined"> ({{ v.language}})</span>
              </span>
          </li>
      </div>
  </div>
</ul>